
    @use '../base/typography' as t;

   /* mixins used by all sections (2a-d) */

    /* Default for section 2 (Search) and 2b (Favorites) */
    @mixin articleImgCover($width: 370px, $height: 240px) {

        width: $width;
        height: $height;
        object-fit: cover;
        border-radius: 5px;

    }

    /* Default for section 2c (Home) and 2d (Recipe) */
    @mixin articleImgContain($width: 570px, $height: auto) {

        width: $width;
        height: $height;
        object-fit: contain;
        border-radius: 5px;

    }    

   @mixin articleSection($jc, $ai, $width: 94%) {

        justify-content: $jc; /* default: space-evenly. Alternative: space-around OR space-between */
        align-items: $ai; /* default: stretch. Alternative: center, flex-end, baseline */
        flex-wrap: wrap;
        width: $width;
        margin-right: 3%;
        margin-left: 3%;
        margin-top: 1%;
        border: 0px solid #bbb;

   }

    .section2 {
        
        display: none;

        @include articleSection(space-evenly, stretch);

        article {

            img {

                @include articleImgCover();

            }


        }
        
    }

    .section2b {

        display: none;

        @include articleSection(space-evenly, stretch);

        article {

            img {

                @include articleImgCover();

            }

        }

    }

    .section2c {

        display: flex;

        @include articleSection(space-evenly, stretch);

        article {

            img {

                @include articleImgContain();

            }

        }

    }

    .section2d {

        display: none;

        @include articleSection(space-evenly, stretch);

        article {

            img {

                @include articleImgContain();

            }

        }

    }

    

    .recipe-id {

        font-family: t.$std-font;
        font-size: 12px;
        margin-top: 20px;
        margin-bottom: 10px;

    }

    /* Loading GIF animation */
    #loading {

        width: 280px;

    }

/* Search and Favorite Sections */
.section2, .section2b {

    article {
    
            width: 370px; /* media 1100px + */
            padding: 40px;
            height: 480px;
            margin: 30px;
            border: 1px solid #999;
            border-radius: 12px;       
    

        h1 {

            margin: 0;
            padding: 0px 0px 10px 0px;
            font-size: 1.3rem; /* 1.7rem max */
            text-align: left;
            font-family: t.$header-font;
    
        }

        p {
    
            font-size: 0.8rem;
            text-align: left;
            line-height: 20px;
            
        }  
        
        li {
    
            font-size: 0.8rem;
            text-align: left;
            line-height: 20px;
            
        }   
        
    }

}    





/* ----- Screen width up to 1520px ------ */
@media only screen and (max-width: 1520px) {

    /* Home and Recipe Sections */    
        .section2, .section2b {
    
            article {
            
                    width: 370px;  /* media 800-1100px + */
                    padding: 40px;
                    height: auto;
                    margin: 30px;
                    border: 1px solid #999;
                    border-radius: 12px;   
    
                    img {
    
                        @include articleImgCover();
        
                    }
    
            }
    
        }
    
    }
    
    
    /* ----- Screen width up to 1100px ------ */
    @media only screen and (max-width: 1100px) {
    
        /* Home and Recipe Sections */    
            .section2, .section2b {
        
                article {
                
                        width: 269px;  /* media 876-1100px */
                        padding: 40px;
                        height: auto;
                        margin: 30px;
                        border: 1px solid #999;
                        border-radius: 12px;   
        
                        img {
        
                            @include articleImgCover(260px);
            
                        }
        
                }
    
    
        
            }
        
        }
    
    
     /* ----- Screen width up to 1100px ------ */
    @media only screen and (max-width: 880px) {
    
        /* Home and Recipe Sections */    
            .section2, .section2b {
        
                article {
                
                        width: 380px;  /* media 876-1100px */
                        padding: 40px;
                        height: auto;
                        margin: 30px;
                        border: 1px solid #999;
                        border-radius: 12px;   
        
                        img {
        
                            @include articleImgCover();
            
                        }
        
                }
        
            }
        
        }   
    
    /* ----- Screen width up to 876px ------ */
    @media only screen and (max-width: 520px) {
    
        /* Home and Recipe Sections */    
            .section2, .section2b {
    
    
                article {
                
                        width: 280px;  /* media 576-876px */
                        padding: 40px;
                        height: auto;
                        margin: 30px;
                        border: 1px solid #999;
                        border-radius: 12px;   
        
                        img {
        
                            @include articleImgCover(280px);
            
                        }
        
                }
    
                @include articleSection(space-evenly, stretch, 470px);
        
            }
        
        }






/* Home and Recipe Sections */
.section2c, .section2d {

    article {
    
            width: 570px; /* media 1100px + */
            padding: 40px;
            height: auto;
            margin: 30px;
            border: 1px solid #999;
            border-radius: 12px;       
    

        h1 {

            margin: 0;
            padding: 0px 0px 10px 0px;
            font-size: 1.3rem; /* 1.7rem max */
            text-align: left;
            font-family: t.$header-font;
    
        }

        p {
    
            font-size: 0.8rem;
            text-align: left;
            line-height: 20px;
            
        }  
        
        li {
    
            font-size: 0.8rem;
            text-align: left;
            line-height: 20px;
            
        }   
        
    }

}
  
/* ----- Screen width up to 1520px ------ */
@media only screen and (max-width: 1520px) {

/* Home and Recipe Sections */    
    .section2c, .section2d {

        article {
        
                width: 369px;  /* media 800-1100px + */
                padding: 40px;
                height: auto;
                margin: 30px;
                border: 1px solid #999;
                border-radius: 12px;   

                img {

                    @include articleImgContain(369px, auto);
    
                }

        }

    }

}


/* ----- Screen width up to 1100px ------ */
@media only screen and (max-width: 1100px) {

    /* Home and Recipe Sections */    
        .section2c, .section2d {
    
            article {
            
                    width: 269px;  /* media 876-1100px */
                    padding: 40px;
                    height: auto;
                    margin: 30px;
                    border: 1px solid #999;
                    border-radius: 12px;   
    
                    img {
    
                        @include articleImgContain(269px, auto);
        
                    }
    
            }


    
        }
    
    }


 /* ----- Screen width up to 880px ------ */
@media only screen and (max-width: 880px) {

    /* Home and Recipe Sections */    
        .section2c, .section2d {
    
            article {
            
                    width: 380px;  /* media 876-1100px */
                    padding: 40px;
                    height: auto;
                    margin: 30px;
                    border: 1px solid #999;
                    border-radius: 12px;   
    
                    img {
    
                        @include articleImgContain(380px, auto);
        
                    }
    
            }
    
        }
    
    }   

/* ----- Screen width up to 520px ------ */
@media only screen and (max-width: 520px) {

    /* Home and Recipe Sections */    
        .section2c, .section2d {


            article {
            
                    width: 280px;  /* media 576-876px */
                    padding: 40px;
                    height: auto;
                    margin: 30px;
                    border: 1px solid #999;
                    border-radius: 12px;   
    
                    img {
    
                        @include articleImgContain(280px, auto);
        
                    }
    
            }

            @include articleSection(space-evenly, stretch, 470px);
    
        }
    
    }





    .hiddenDiv {

        display: none;
    
    }

    .visibleDiv {

        display: block;

    }


    .articleFooter {

        border: 0px solid #000;
        width: -webkit-fill-available;
        height: 50px;
        padding: 0px;
        
    }

    .favorite {

        text-align: center;
        visibility:hidden;
        font-size: 50px;
        cursor:pointer;
        color: #f4ac0b;

        &:before {

            content: "\2605";  
            visibility:visible;
     
         }
        &:checked:before {

            content: "\2606";     
     
         }

    }
   
 


    .favorites {

        text-align: center;
        visibility:hidden;
        font-size: 50px;
        cursor:pointer;
        color: #f4ac0b;

        &:before {

            content: "\2606";      
            visibility:visible; 
     
         }
        &:checked:before {

            content: "\2605";     
     
         }

    }
   
