
@use 'typography' as t;

   /* mixins used by all xxxHeaders.scss */

   @mixin headerBorder($side-border: 1px solid #999, $b-radius: 12px) {

        border-top: 1px solid #999; 
        border-bottom: 1px solid #999999; 
        border-left: $side-border;
        border-right: $side-border; 
        border-radius: $b-radius;

   }

// default values that most xxxHeaders use. searchHeader provides its own though.
@mixin headerDimensions($width: 88%, $height: 300px) {

        width: $width;
        height: $height;

}  



   // default background that most xxxHeader use if not provided
   @mixin headerBackground($background: '../images/tableplate.jpg') {

        /* Promo background */
        background: linear-gradient(rgba(205, 205, 205,0.2), rgba(0, 0, 0,0.2)),
        url($background);
        background-position: center;
        background-position-y: bottom;
        background-size: cover;

   }


   @mixin headerAnimation() {

        /* Promo Animation*/
        animation: img-transition 25s infinite ease-in-out;

}



   @mixin headerMargin() {

        margin-right: auto;
        margin-left: auto;
        margin-top: 1%;

}

@mixin headerText() {

        font-size: 38px;
        font-family: t.$header-font;
        color: #ffffff;
        text-shadow: 2.0px 0 black; 
        letter-spacing: 5px;

}




