

@font-face {
    font-family: Sunflower;
    font-weight: bold;
    src: url("fonts/Sunflower-lgZye.otf") format("opentype");
}


$header-font: Sunflower, arial, verdana, sans-serif;
$pg-font: arial, verdana, sans-serif;

