

@font-face {

    font-family: CafeFrancoise-EapP9;
    font-weight: bold;
    src: url("../fonts/CafeFrancoise-EapP9.ttf") format("truetype");

}

/* Standard fonts across the website */
$header-font: CafeFrancoise-EapP9, arial, verdana, sans-serif;
$std-font: arial, verdana, sans-serif;



