
@use '../base/typography' as t;

body {

    padding: 0px;
    background-color: #eee;
    margin: 0 auto;
    text-align: center;


  

}

@media only screen and (max-width: 510px) {

    body {
    
        transform: scale(0.9);
        transform-origin: 0 0;
        
       

    }
}

