
@use '../base/typography' as t;

    footer {
    
        display: flex;

        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;       
        justify-content: space-between;

        width: 90%;
     
        margin-right: auto;
        margin-left: auto;

        margin-top: 1%;
        margin-bottom: 1%;

        border-left: 5px solid #ddd;
        border-right: 5px solid #ddd;
        border-top: 5px solid #ddd;
        border-bottom: 5px solid #ddd;

        border-radius: 12px 12px 12px 12px;
      
        height: 100px;
        background-color: #ccc;

        

        .footer-left {
 
            text-align: left;
            padding-top: 10px;
            padding-left: 20px;
            
        }

        .footer-right {

            text-align: right;
       
            padding: 10px 20px 0px 0px;
            font-size: 14px;
            font-family: t.$std-font;
             
        } 

        img {

            width: 60px;
    
        }


    }

    /* ----- Screen width up to 530px ------ */
@media only screen and (max-width: 530px) {

    footer {
  
      width: 480px;
      border-radius: 0px;
      border-left: 0px;
      border-right: 0px;
      border-bottom: 0px;
  
    }
  
  }
    