
   @use '../base/typography' as t;
   
   header, footer, nav, article {
    
        font-size: 28px;
        font-family: t.$std-font;
    }
    
    header {
    
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        width: 90%;

        margin-right: auto;
        margin-left: auto;

        margin-bottom: 20px;
        margin-top: 20px;

        border: 0px solid #bbb;

        .logo {

            width: 160px;
            border: 0;
    
        }

       
    }

/* ----- Screen width 1520+ px ------ */
@media only screen and (min-width: 1520px) {

    header {
  
        .logo {
  
          width: 200px;
  
        }
    
      }
    
    }

/* ----- Screen width up to 530px ------ */
@media only screen and (max-width: 530px) {

    header {
  
      .logo {

        width: 160px;

      }

      width: 480px;
  
    }
  
  }


